
body{
    font-family: 'Libre Franklin', sans-serif;
   font-size: 20px;
}
header{
    margin-top: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 2fr 4fr 3fr 2fr;
    grid-template-areas: "1 2 3 4 5 6 7";
}

div.box1{
    grid-area: 1;
    justify-self: center;
    align-self: center;
}
div.box2{
    grid-area: 2;
    justify-self: center;
}
div.box2 p{
    font-weight:300;
}
div.box2 strong{
    font-weight: 700;
}
div.box3{
    grid-area: 3;
    justify-self: center;
    align-self: flex-start;

}
div.box3 p{
    font-size: 13px;
    font-weight: 300;
    margin: 0px;
}
div.box4{
    grid-area: 4;
    display: grid;
    justify-content: center;
    align-content: space-around;
    padding-bottom: 3rem;
}
div.box4 button,div.box4 input{
    text-decoration: none;
    border: none;
    background-color: white;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 25px;
    padding:12px 60px;
    font-size:16px;
}

div.box4 button{
    background-color: hsl(223, 87%, 63%);
    color:white;
    letter-spacing: 1.3px;
}
div.box4 span#error{
    font-size: 13px;
    justify-self: center;
    color: red;
}
div.box5{
    display: grid;
    grid-area: 5;
    justify-self: center;
    align-self: center;
}
div.box5 img{
    max-width: 90%;
    justify-self: center;
    align-self: center;    
}
div.box6{
    grid-area: 6;
    display: flex;
    justify-content:center;
    align-content:flex-end;
}
div.box6 img{
    max-width: 8%;
    filter: invert(40%) sepia(92%) saturate(1426%) hue-rotate(207deg) brightness(97%) contrast(97%);
    padding:1.5rem;
    align-self: flex-end;
}
div.box7{
    grid-area: 7;
    justify-self: center;
    align-self: center;  
    font-size: 17px;
}
@media (min-width:1200px){
    header{
        max-width: 50%;
        margin: auto;
        grid-template-rows: 1fr 0.7fr 0.5fr 2fr 3fr 1fr 1fr;
        margin-top: 2rem;
    }
    div.box2 p{
      font-size: 40px;
      margin: 10px;
    }
    div.box3 p{
        font-size: 17px;
    }
    div.box4{
        display:grid;
       grid-template-columns: 3fr 1fr;
       grid-template-rows: 3rem 1rem;
       grid-template-areas: "1  2"
       "3 . ";
       padding: 0px;
    }
    input#email{
        grid-area: 1;
        margin-right: 1rem;
    }
    input#notify{
        grid-area: 2;
        padding:12px 0px;
    }
    button#notify{
        padding: 12px 0px;
    }
    span#error{
        grid-area: 3;
        margin-top: -5rem;
        font-size: 15px;
    }
    div.box5{
        margin-top: -3rem;
    }
    div.box6 img{
        max-width: 5%;
    }
}